@charset "UTF-8";

body{
    background-color: rgb(110, 110, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

h1{
    color: rgb(0, 0, 255);
}

h2{
    color: rgb(42, 42, 102);
}
div{
    display: flex;
    margin: 20px;
    margin-left: 65px;
}
.top h1{
    color: aqua;
    text-align: center;
    background-color: rgb(80, 12, 240);
    width: 1200px;
    padding: 0px;
    margin: 0%;
    transform: translateY(5px);
    

    height: 70px;
    border-radius: 15px;
    
}

.basic{
    color: rgb(42, 102, 60);
}
.intermediary{
    color: rgb(101, 102, 42);
}
.difficult{
    color: rgb(102, 42, 42);
}