@charset "UTF-8";

/* ESTILO PARA IMPRESSÂO */

*{
    padding: 10px;
    margin: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
    line-height: 1.5em;
}

menu{
    display: none;
}

article::after{
    content: 'Esse artico foi impresso atravéz do site www.cursoemvideo.com';
}