@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* 
  claro:
  --cor1 #ddd8c4
  --cor2 #a3c9a8 
  --cor3 #84b59f
  --cor4 #69a297
  --cor5 #50808e

  escuro:
  #555358
  #143642
  #D8D4D5
  #46B1C9
  #5B797F
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --fundo-principal: #ddd8c4;
  --texto: #ffffff;
  --texto-inverso: #50808e;
  --destaque: #a3c9a8;
  --destaque-inverso: #69a297;
  --fundo-card: #50808e;
}

body{
  font-family:"Manrope", sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header{
  background-color: var(--destaque-inverso);
  color: var(--texto-inverso);
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav#menu ul{
  list-style: none;
  display: flex;
  gap: 25px;
}

nav#menu a{
  text-decoration: none;
  color: var(--texto);
  font-weight: 600;
  font-size: 1.3em;
  padding: 12px 15px;
  border-radius: 5px;
  transition: .4s;
}

nav#menu a:hover{
  background-color: rgba(255, 255, 255, 0.255);
  color: var(--texto-inverso);
}

main{
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
}

section#ficha{
  background-color: var(--fundo-card);
  color: var(--texto);
  padding: 25px;
  border-radius: 10px;
  margin: 15px 0px;
  
  grid-column: 2;
}

section#ficha img.foto{
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

section#ficha h1{
  color: var(--destaque);
  margin: 10px 0px;
  text-align: center;
}

div#social{
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 2em;
  margin: 10px 0px;
}

div#social a {
  text-decoration: none;
  color: var(--destaque);
  padding: 10px;
  border-radius: 20px;
  transition: .5s;
}

div#social a:hover{
  background-color: rgba(255, 255, 255, 0.250);
  color: white;
  
}

section#detalhes {
  grid-column: 2;

}

article{
  background-color: var(--fundo-card);
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
}

article h2{
  color: var(--destaque);
  margin-bottom: 10px;
}

article#video .video-container{
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;
}

.video-container iframe{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#skill-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skill-container .nome{
  font-weight: bold;
  color: var(--texto);
}

#skill-container .porcent{
  font-weight: bold;
  color: var(--destaque);
}

#skill-container .barra{
  width: 100%;
  height: 10px;
  background-color: var(--fundo-principal);
  border-radius: 10px;
}

#skill-container .progresso{
  height: 10px;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

#formacao-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

#formacao-container .curso{
  background-color: var(--destaque-inverso);
  border-radius: 10px;
  border-left: 6px solid var(--destaque);
  padding: 5px;
   transition: .4s;
}

#formacao-container .curso:hover{
  border-left-width: 20px;

}

#projeto-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#projeto-container .projeto{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-radius: 15px;
  border-left: 6px solid var(--destaque);
  background-color: var(--destaque-inverso);
  transition: .5s;
}

#projeto-container .projeto:hover{
  border-left-width: 20px;
}

#projeto-container .foto{
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px;
}

footer{
  background-color: var(--destaque-inverso);
  color: var(--texto);
  text-align: center;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  #skill-container{
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto{
    flex-direction: row-reverse;
    justify-content: space-between;
   
  }
  #projeto-container .projeto-info{
    max-width: 50%;
  }
  #projeto-container .foto{
    
    max-width: 50%;
  }
} 
  
