@charset 'UTF-8';

*{
    margin: 0px;
}
header{
    position: relative;
    background-color: black;
    color: white;
    height: 150px;
}

h1{
    /* Movimentação Do Titulo */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header a{
    /*Movimentação Do Link*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 70%);
    margin-top: 5px;

    /*Estilização Do Link*/
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;
}

header a:hover{
    background-color: rgba(63, 63, 63, 0.6);
    color: rgb(145, 145, 145);
    transition: .3s;
}