@charset "UTf-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(71, 71, 71);
}

main{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to bottom, #caf0fb, #90e0ef, #00b4d8, #0077b6, #03045e);
}

section#telefone{
    /* Posicionamento */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    /*Aparencia*/
    background-color: rgb(184, 33, 33);
    background: url(../pacote-d013/pacote-d013/imagens/frame-iphone.png) no-repeat;
    width: 311px;
    height: 627px;
}

iframe#tela{
    position: relative;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 269px;
    height: 472px;
}