@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0px;
}

header{
    background-color: #fd6a1b ;
    height: 140px;
}
#title{
    position: absolute;
    left: 50%;
    top: 11%;
    transform: translate(-50%, -50%);

}

#title > h1, p {
    color: rgb(255, 255, 255);
    
}

#title > h1 {
    font-family: 'Tinos';
    font-size: 3.8em;
}

nav{
    background-color: #fd6a1b ;
}

a {
    font-family: Georgia, serif;
    display: inline-flex;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding-bottom: 5px ;
    margin: 0px 10px 5px;
    transition: .25s ease;
}
nav:hover a {
    color: #575757;
}
nav:hover a:hover{
    color: #ffffff;
    box-shadow: 0 2px 0 0 currentColor;
    
}


