@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Sono:wght@200..800&display=swap');



:root{
    --cor-principal: rgb(0, 128, 0);
    --cor-secundaria: rgb(222, 248, 210);
    --cor-letra: rgb(97, 97, 97);
    --fonte01: 'montserrat';
    --fonte02: 'Nunito';
    --fonte03: "Quicksand", sans-serif;
    --fonte04:  'Poppins', sans-serif;
    --fontenum: "Noto Sans Mono", serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffffff;
    font-family: var(--fonte01);
}

main h1.destaque{
    color: var(--cor-principal);
    font-family: var(--fontenum);
    text-align: center;
    margin: 40px 5px;
    font-size: 22px;    
    
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#subtitle{
    font-family: var(--fonte04);
    font-size: 32px;
    margin: 10px;
}

#cards{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
    justify-content: center;
    
}


.eco{
    width: 38px;
    height: 38px;
    background-color: white;
    border-radius: 50%;
    padding: 153px;
    
}
.numeracao{   
    font-family: var(--fontenum);
    color: rgb(54, 54, 54);
    font-size: 40px;
    font-weight: normal;

}

#num01{
    position: absolute;
    top: 21%;
    left: 30%;
}

#num02{
    position: absolute;
    top: 21%;
    left: 58%;
}

#num03{
    position: absolute;
    top: 21%;
    left: 85%;
}

#num04{
    position: absolute;
    top: 53%;
    left: 30%;
}

#num05{
    position: absolute;
    top: 53%;
    left: 58%;
}
#num06{
    position: absolute;
    top: 53%;
    left: 85%;
}

#cards > span {
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.280);
    border-radius: 15px;
    width: 300px;
    height: 150px;
    padding: 30px;
}

.card-text{
    font-family: var(--fontenum);
    font-size: 16px;
    margin-top: 15px ;
    margin-left: 10px;
}

.more{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    color: black;
    margin-top: 30px;
    margin-left: 10px;
}

.more:hover{
    text-decoration: underline;
    transition: .3s;
}

#title2{
    font-family: var(--fonte03);
    font-weight: 600;
    font-size: 38px;
    text-align: center;
    margin: 40px;
}