@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --cor-principal: rgb(0, 128, 0);
    --cor-secundaria: rgb(222, 248, 210);
    --cor-letra: rgb(97, 97, 97);
    --fonte01: 'montserrat';
    --fonte02: 'Nunito';
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-secundaria);
    font-family: var(--fonte01);
}

main > h1.destaque{
    color: var(--cor-principal);
    font-family: var(--fonte02);
    text-align: center;
    margin: 20px;
    font-size: 24px;
    
}
#cards{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    justify-content: center;
}

#cards > span {
    background-color: rgba(237, 253, 180, 0.432);
    border: 1px solid rgb(0, 0, 0);
    width: 300px;
    height: 150px;
    text-align: end;
    padding: 10px;
}