@charset 'UTF-8';

.container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}
div.quadrado{
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: lightblue;
}

div.quadrado:hover{
    transform: scale(1.05);
    background-color: rgba(173, 216, 230, 0.705);
    transition: .4s;
}

#q1{
    background-color: #028090;
}

#q2{
    background-image: linear-gradient(to top, #1b263b, #415a77, #778da9, #e0e1dd);
}

#q3{
    background-image: url('../Imagens/pattern001.png');
}