@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "DM Serif Text", serif;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2 {
    margin-bottom: 20px;
    line-height: 1.2em;
}

.normal > h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "Roboto Flex", sans-serif;
    text-shadow: 1px 1px 5px #ffffff71;
}

.normal > h2 {
    font-family: "Roboto Flex", sans-serif;
    font-size: 30px;
}



header.normal{ 
    background-color: #4b3222;
    color: #ffedd8;
    padding: 15px;
}

section.normal{
    background-color: #ffedd8;
    color: #7f5539;
    padding: 20px;
}

/*Começo Das Configurações de FlexBox*/

section.flex-content{
    background-color: #e6ccb2 ;
    color: #402401;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: center;

}

article > div.text{
    flex: 1 1 500px;
    margin: 10px;
}

article > div.media{
    flex: 1 0 400px;
    margin: 10px;
}

div.media > img, iframe{
    display: block;
    margin: auto;
}

iframe{
    width: 90%;
}



